# type script
day2/*.js
day2/node_modules

# c/c++
day3/*.out
day3/*.o
day5/*.out
day5/*.o

# java/kotlin
day4/*.class
day4/*.jar
day7/*.class
day7/*.jar

# haskell
day6/*.hi
day6/*.o
day6/*

# scala
day8/*.class
day8/*.tasty

# C#
day11/bin
day11/obj

# rust
day10/target

# zig
day14/*
!day14/*/
!day14/*.*
day14/*.o

# ada
day15/*
!day15/*/
!day15/*.*
day15/*.ali
day15/*.o