# type script
day2/*.js
day2/node_modules

# c/c++
day3/*.out
day3/*.o
day5/*.out
day5/*.o

# java/kotlin
day4/*.class
day4/*.jar
day7/*.class
day7/*.jar

# haskell
day6/*.hi
day6/*.o
day6/*

# scala
day8/*.class
day8/*.tasty

# ryst
day10/target